.tools_page_beta-flags .status-marker{background:#CC6969;display:inline-block;height:12px;width:12px;border-radius:12px;transform:translateY(2px);border:1px solid rgba(0,0,0,0.25)}
.tools_page_beta-flags .status-marker-enabled{background:#3ACC69}
.tools_page_beta-flags .status-marker-enforced{background:#D8F7E2}
.tools_page_beta-flags .status-marker-abenabled{background:#FBFB29}
.tools_page_beta-flags pre{margin:0}
.tools_page_beta-flags .beta-flag-ab {width: 100px;}
